<app-topnav></app-topnav>

<div class="container mt-5">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="row">
            <div class="col-12 col-xl-8 mb-auto mb-xl-0">
              <h3 class="font-weight-bold text-primary">Bienvenido </h3> 
            </div>
          </div>
        </div>
      </div>




    <div class="row">
                <div class="col-12">
                <p class="h2 text-center mb-4 text-primary mt-0">GENERAL</p>
                  <div class="row d-flex justify-content-center" >

                    <div class="col-12 col-sm-6 col-md-6 col-xl-4 grid-margin stretch-card" >
                    <a class="card shadow bginfo link-light" href="usuario" style="min-height: 4cm;">
                        <div class="card-body text-center">
                          <h4 class="card-title" style="color: #000000 !important;">USUARIOS</h4>
                          <i class="fa-solid fa-users-gear icon-lg mb-3 text-info"></i>
                          <div class="d-flex justify-content-between">
                            
                            <p class="text-muted">Crea, consulta, modifica y elimina usuarios</p>
                          </div>
                          <div class="progress progress-md">
                            <div class="progress-bar bg-info w-100"></div>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-xl-4 grid-margin stretch-card">
                    <a class="card shadow bgsuccess" href="pasiente" style="min-height: 4cm;" >
                        <div class="card-body text-center">
                          <h4 class="card-title" style="color: #000000 !important;">PACIENTES</h4>
                          <i class="fa-solid fa-users icon-lg mb-3 text-success"></i>
                          <div class="d-flex justify-content-between">
                            <p class="text-muted">Crea, consulta, modifica y elimina a los pasientes</p>
                          </div>
                          <div class="progress progress-md">
                            <div class="progress-bar bg-success w-100"></div>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-xl-4 grid-margin stretch-card">
                      <a class="card shadow bgprimary" href="privilegio" style="min-height: 4cm;">
                          <div class="card-body text-center">
                            <h4 class="card-title" style="color: #000000 !important;">PRIVILEGIOS</h4>
                            <i class="fa-solid fa-shield-halved icon-lg mb-3 text-primary"></i>
                            <div class="d-flex justify-content-between">
                              <p class="text-muted">Consulta y modifica los privilegios de usuarios</p>
                            </div>
                            <div class="progress progress-md">
                              <div class="progress-bar bg-primary w-100"></div>
                            </div>
                          </div>
                      </a>
                    </div>
                    
                </div>
                </div>
    </div>

              
              </div>

</div>
</div>

<app-footer class="footer"></app-footer>
