<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="content">
    <div class="main-content">
      <div class="row justify-content-center">
        <div class="col-12 col-md-5 text-center" style="margin-top: 1.5rem !important">
          <!-- Imagen de 300x300 -->
          <img src="/assets/logo-wt.png" alt="Imagen" class="img-fluid mb-4">

          <!-- Subheading -->
          <p class="text-muted mb-5">Ama tu prójimo como a ti mismo.</p>
        </div>

        <div class="col-12 col-md-4 text-center">
          <div class="card">
            <div class="card-header">
              <!-- Heading -->
              <h1 class="display-4 mb-3">Iniciar Sesión</h1>

            </div>
            <div class="card-body">
                <!-- Form -->
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                  <!-- Email address -->
                  <div class="form-group">
                    <!-- Label -->
                    <label>Correo electrónico</label>

                    <!-- Input -->
                    <input
                      type="email"
                      class="form-control"
                      required
                      placeholder="name@address.com"
                      pattern="^[a-z0-9@.!#$%&’*+-/=?^_`{|}~]+$"
                      #email="ngModel"
                      name="email"
                      [(ngModel)]="admin.email"
                    />
                  </div>

                  <!-- Password -->
                  <div class="form-group">
                    <!-- Label -->
                    <label>Contraseña</label>

                    <!-- Input group -->
                    <div class="input-group input-group-merge">
                      <!-- Input -->
                      <input
                        type="password"
                        class="form-control form-control-appended"
                        placeholder="Ingresa tu contraseña"
                        id="password"
                        #password="ngModel"
                        name="password"
                        [(ngModel)]="admin.password"
                      />

                      <!-- Icon -->
                      <div class="input-group-append">
                        <span class="input-group-text" (click)="view_password()" style="cursor: pointer">
                          <i class="bi bi-eye-slash-fill"></i>
                        </span>
                      </div>
                    </div>
                  </div>

                  <a href="">No recuerdas tu contraseña?</a>
                  <br>
                  <br>

                  <!-- Submit -->
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión</button>
                </form>
            </div>
          </div>
          
          
        </div>

        <div class="col-12 col-md-3 text-center">
          <!-- Imagen de 300x300 -->
          <img src="/assets/UGlogo.png" alt="Imagen" class="img-fluid mb-4" >
        </div>
      </div>
    </div>
  </div>
</div>