
<div class="container">
    <div class="sidebar">
        <app-topnav></app-topnav>
    </div>
    <div class="content">

        <div class="main-content">
            <div class="container-fluid" >
                <div class="row justify-content-center" >
					<div class="col-auto">
						<!-- Header -->
						<div class="header mt-md-5">
							<div class="header-body">
								<div class="row align-items-center">
									<div class="col">
										<!-- Pretitle -->
										<h6 class="header-pretitle">Módulo</h6>
		
										<!-- Title -->
										<h1 class="header-title">BENEFICIARIOS</h1>
									</div>
								</div>
								<!-- / .row -->
							</div>
						</div>
		
						<!-- Alert -->
		
						<!-- Card -->
						<ng-container *ngIf="load_data_user">
							<div class="card-body">
								<div class="row">
									<div class="col-12 text-center">
										<div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
											<span class="visually-hidden"></span>
										</div>
									</div>
								</div>
							</div>
						</ng-container>
						<ng-container *ngIf="!load_data_user">
							<div class="card">
								<div class="card-header">
									<!-- Title -->
									<h4 class="card-header-title">Mostrando todos tus beneficiarios {{ arr_usuarios.length }}</h4>
									
									
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-md-6">
											<div class="input-group input-group-merge">
												<select [(ngModel)]="tpfiltro" >
													<option value="id_paciente" selected>ID</option>
													<option value="Nombres">Nombres</option>
													<option value="Apellidos">Apellidos</option>
													<option value="Genero">Genero</option>
													<option value="Correo">Correo</option>
													<option value="Cedula">Cedula</option>
												    <option value="Celular">Celular</option>

													<option value="Provincia">Provincia</option>
													<option value="FechaNacimiento">Fecha Nacimiento</option>
													<option value="Ciudad">Ciudad</option>													
												</select>
												<input
													type="text"
													class="form-control form-control-appended"
													placeholder="Buscar beneficiario"
													name="filtro"
													[(ngModel)]="filtro"
													(ngModelChange)="filtrar_estudiante()"
												/>
												<div class="input-group-append">
													<!--
<button class="btn btn-primary" (click)="filtrar_estudiante()">Buscar</button>
													
													-->
													<ng-container  style="text-align: right">
														<a
															class="btn btn-primary"
															[routerLink]="['/beneficiario/create']"
															routerLinkActive="router-link-active"
															style="cursor: pointer"
															>Nuevo Beneficiario</a
														>
													</ng-container>
		
													
												</div>
											</div>
										</div>
										
										
		
										<div class="col-md-6 text-right" >
											
											<div class="input-group input-group-merge">
												<ng-container >
													<button
														class="btn btn-danger active"
														*ngIf="load_eliminados == false"
														data-bs-toggle="modal"
														[attr.data-bs-target]="'#delete-todo'"
													>
														Eliminar
													</button>
												</ng-container>
												</div>
											
											
											
										</div>
									</div>
								</div>
								<div class="card-body" >
									<div class="table-responsive" >
										<table class="table  table-nowrap card-table table-hover">
											<thead>
												<tr>
													<th>
														<input
															type="checkbox"
															value="1"
															placeholder="total"
															[(ngModel)]="total"
															(click)="select_todo()"
														/>
													</th>
													<th>id_paciente</th>
													<th>Nombres Apellidos</th>
													<th>Provincia-Ciudad</th>
													<th>Correo</th>
													<th>fk_idrol</th>
                                                    <th>Celular</th>
													<th>Opciones</th>
												</tr>
											</thead>
											<tbody class="font-size-base">
												<ng-container
													*ngFor="
														let item of arr_usuarios
															| slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize
													"
												>
													<tr
														
													>
														<td >
															<input
																type="checkbox"
																value="1"
																placeholder="item.ckechk"
																[(ngModel)]="item.ckechk"
															/>
														</td>
                                                        <td>{{item.element.id_paciente}}</td>

                                                        
														<td>
															<a class="text-primary" [routerLink]="['/beneficiario/edit', item.element.id_paciente]"
																>{{ item.element.Nombres }} {{ item.element.Apellidos }}</a
															>
															<br>
															<span *ngIf="item.element.Cedula">{{ item.element.Cedula }}</span>
															<span *ngIf="!item.element.Cedula">No registrado</span>
															
															
														</td>
			
														<td>
															<span *ngIf="item.element.Provincia">{{item.element.Provincia}}</span>
															<span *ngIf="!item.element.Provincia">No registrado</span>-
															<span *ngIf="item.element.Ciudad">{{item.element.Ciudad}}</span>
															<span *ngIf="!item.element.Ciudad">No registrado</span>
														</td>
														
														<td>
															{{ item.element.Correo }}
														</td>
														<td>{{ item.element.FechaNacimiento }}</td>
														<td>
															<span *ngIf="item.element.Celular">{{ item.element.Celular }}</span>
															<span *ngIf="!item.element.Celular">No registrado</span>
														</td>
			
														<td>
															<div class="dropdown align-items-center">
																<button
																	class="btn btn-secondary "
																	type="button"
																	id="dropdownMenuButtonAlias"
																	data-bs-toggle="dropdown"
																	aria-haspopup="true"
																	aria-expanded="false"
																>
                                                                Opc.
                                                                
																	<i class="bi bi-caret-down-fill"></i>
																</button>
			
																<ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAlias">
																	<li>
																		<a
																			class="dropdown-item"
																			
																			[routerLink]="['/beneficiario/edit', item.element.id_paciente]"
																			>Editar</a
																		>
																	</li>
																	<!--
																	<li>
																		<a class="dropdown-item"
																			style="cursor: pointer"
																			data-bs-toggle="modal"
																			[attr.data-bs-target]="'#delete-' + item.element.id_paciente">Eliminar</a>
																	</li>
																	-->
																	
																</ul>
															</div>
															<div
																class="modal fade"
																id="delete-{{ item.element.id_paciente }}"
																tabindex="-1"
																style="display: none"
																aria-hidden="true"
															>
																<div class="modal-dialog modal-dialog-centered" role="document">
																	<div class="modal-content">
																		<div class="modal-header">
																			<h4 class="modal-title">
																				Eliminar, {{ item.element.nombres }} {{ item.element.apellidos }}
																			</h4>
																			<button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">×</span>
																			</button>
																		</div>
																		<div class="modal-body">
																			<p>Desea eliminar este beneficiario? {{ item.element.id_paciente }}</p>
																		</div>
																		<div class="modal-footer">
																			<button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">
																				Cancelar
																			</button>
																			<button
																				class="btn btn-primary btn-shadow btn-sm"
																				(click)="eliminar(item.element.id_paciente)"
																				type="button"
																			>
																				Si, eliminar
																			</button>
																		</div>
																	</div>
																</div>
															</div>
														</td>
													</tr>
													
												</ng-container>
											</tbody>
										</table>
									</div>
								</div>
								<ngb-pagination
                                    *ngIf="arr_usuarios.length >= 1"
                                    [(page)]="page"
                                    [pageSize]="pageSize"
                                    [maxSize]="10"
                                    [rotate]="true"
                                    [boundaryLinks]="true"
                                    [collectionSize]="arr_usuarios.length"
                                ></ngb-pagination>
							</div>
							
                            
							<br />
							<div class="modal fade" id="delete-todo" tabindex="-1" style="display: none" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">Eliminación masiva</h4>
											<button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">×</span>
											</button>
										</div>
										<div class="modal-body">
											<p>Desea eliminar estos beneficiario?  {{ contarUsuariosSeleccionados() }}</p>
										</div>
										<div class="modal-footer">
											<button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">
												Cancelar
											</button>
											<button class="btn btn-primary btn-shadow btn-sm" (click)="eliminar_todo()" type="button">
												Si, eliminar
											</button>
										</div>
									</div>
								</div>
							</div>
		
							<div class="modal fade" id="activar-todo" tabindex="-1" style="display: none" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">Reactivar</h4>
											<button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">×</span>
											</button>
										</div>
										<div class="modal-body">
											<p>Desea reactivar este beneficiario?</p>
										</div>
										<div class="modal-footer">
											<button class="btn btn-secondary btn-sm" type="button" data-bs-dismiss="modal">
												Cancelar
											</button>
											<button class="btn btn-primary btn-shadow btn-sm" (click)="activar_todo()" type="button">
												Si, activar
											</button>
										</div>
									</div>
								</div>
							</div>
						</ng-container>
					</div>
				</div>

            </div>
        </div>
    </div>
</div>
   <app-footer class="footer"></app-footer>