<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="incio">
        <i class="fa-solid fa-table-cells-large menu-icon"></i>
          <span class="menu-title">Inicio</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="usuarios">
        <i class="fa-solid fa-users-gear menu-icon"></i>
          <span class="menu-title">Usuarios</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pacientes">
        <i class="fa-solid fa-users menu-icon"></i>
          <span class="menu-title">Beneficiarios</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="seguridad">
        <i class="fa-solid fa-shield-halved menu-icon"></i>
          <span class="menu-title">Privilegios</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="sugerencias">
        <i class="fa-solid fa-lightbulb menu-icon"></i>
          <span class="menu-title">Sugerencias</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="reportes">
        <i class="fa-solid fa-chart-simple menu-icon"></i>
          <span class="menu-title">Reportes</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="musculos">
        <i class="fa-solid fa-child-reaching menu-icon"></i>
          <span class="menu-title">Músculos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="ejercicios">
        <i class="fa-solid fa-bicycle menu-icon"></i>
          <span class="menu-title">Ejercicios</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="rutina">
        <i class="fa-solid fa-dumbbell menu-icon"></i>
          <span class="menu-title">Crear Rutina</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="crud_rut">
        <i class="fa-solid fa-stopwatch-20 menu-icon"></i>
          <span class="menu-title">Consultas Rutina</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="crudalimentos">
        <i class="fa-solid fa-drumstick-bite menu-icon"></i>
          <span class="menu-title">Alimentos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="alimentacion">
        <i class="fa-solid fa-utensils menu-icon"></i>
          <span class="menu-title">Alimentación</span>
        </a>
      </li>
    </ul>
  </nav>